@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-size: 15px;
}

#app {
    @apply min-h-screen;
}

.link {
    color: #5B0769;
    @apply underline;
}

h1 {
    @apply text-3xl font-semibold leading-6 text-gray-700;
}

h2 {
    @apply text-2xl font-semibold leading-6 text-gray-700;
}

.button {
    @apply text-gray-700 bg-gray-50 hover:bg-gray-200 hover:text-gray-900 border border-gray-200 px-3 py-2 rounded-xl text-sm font-medium cursor-pointer;
}

/** Дизайн из figma **/
.bc-text-indigo {
    color: #5B0769;
}

.bc-text-gray {
    color: #272B2D;
}

.bc-border {
    border: 1px solid #E6E6E6;
}

.bc-rounded {
    border-radius: 9px;
}

.bc-ring-indigo {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(91 7 105 / var(--tw-ring-opacity));
}

.bc-ring-gray {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(230 230 230 / var(--tw-ring-opacity));
}

.bc-button,
.bc-button-disabled {
    border-radius: 9px;
    background-color: #FBFBFB;
    border: 1px solid #E6E6E6;
    @apply text-sm font-medium;
}

.bc-button {
    color: #272B2D;
}

.bc-button-disabled {
    cursor: default !important;
    @apply text-gray-400;
}

.bc-button:hover {
    background-color: #F9F9F9;
}

.bc-button-background {
    background-color: #FBFBFB;
}

.bc-background {
    background-color: #F6F6F6;
}

/** Контент книги, сутты и т.п. */
.content-text .footnote {
    color: #ba0cee;
    @apply text-sm ml-1 font-mono
}

.content-text h2 {
    @apply mb-4
}

/* текст примечания */
.content-text .footnotes {
    @apply mt-2 px-4 text-sm text-gray-600
}

.content-text span.footnote.clickable {
    cursor: pointer;
}

.content-text .footnotes li {
    display: none;
}

.content-text .footnotes li.expanded {
    display: block;
}

.content-text .footnotes li .collapse-button {
    cursor: pointer;
}

.content-text .footnotes hr {
    @apply border-gray-100
}

.content-text .footnotes ol li p {
    @apply my-2
}

/* страница поиска */
.search-page em {
    @apply bg-yellow-200 font-normal
}

.bc-dropdown {
    width: 30px;
    border-radius: 9px;
    background-color: #FBFBFB;
    border: 1px solid #E6E6E6;
    color: #272B2D;
    @apply text-sm font-medium;
}

.bc-list-dash {
    list-style-type: "\2013\00a0\00a0";
}

.tribar {
    border-top: 2px solid #272B2D;
}

.tribar,
.tribar::after,
.tribar::before {
    display: block;
    width: 40px;
}

.tribar::after,
.tribar::before {
    background-color: #272B2D;
    content: "";
    height: 2px;
    margin-top: 10px;
}

.xmark,
.xmark::after,
.xmark::before {
    display: block;
    width: 40px;
}

.xmark::after,
.xmark::before {
    background-color: #272B2D;
    content: "";
    position: relative;
    height: 2px;
}

.xmark::before {
    top: 2px;
    transform: rotate(45deg);
}

.xmark::after {
    transform: rotate(-45deg);
}

.bc-mobile-bottom-line {
    border-top: 1px solid #d3dadc;
}

.bc-mobile-bottom-color {
    color: #aaa;
}